body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 500px;
  border: 1px solid black;
  border-radius: 50px;
  background-color: lightgrey;
}

.display {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  height: 120px;
  margin: 50px;
  padding: 16px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: lightskyblue;
  font-size: 50px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row button {
  border: 1px solid black;
  border-radius: 5px;
  height: 98px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  padding: 0;
  flex: 1 1 0px;
}

#zero {
  flex: 2 1 4px;
  /* 4px from:
      2px border of 1 missing button
      2px border box basis offset*/
}

.buttons {
  margin: 50px;
}